@CHARSET "UTF-8";

#all{

	
}

#left{
	width:250px; /*폭 지정*/
	height:1000px; /*높이 */
	font-family : 나눔바른펜;
	font-size : 20px;
	margin:20px 0 0 160px;
	float: left;

	
}

#right{
	width:1000px; /*폭 지정*/
	height:1000px; /*높이 */
	margin:100px  0 0 450px;
	font-family : 나눔바른펜;
	font-size: 15px;
	
}



#name{
	
}

